# Dependency directories
node_modules/
jspm_packages/
.expo/

# Build and production
dist/
build/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS metadata
.DS_Store
Thumbs.db
